body{
    background-color: #2b3161;
    text-align: center;
    color: #FFFFFF;
}

button {
    background: #ff0000;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
}